<div class="view">
    <h1>{{ name }}</h1>
    <ul>
        <li>{{ description }}</li>
        <li><a href="../{{ url }}"> {{ name }}</a></li>
        <img src="/{{ name }}/{{ name }}.png" alt="">
    </ul>
</div>
